{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url(https://images.unsplash.com/photo-1504416285472-eccf03dd31eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80)">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3>Summary</h3>
        <p>I am a Computer Science graduate with extensive work experience as a product lead engineer at an SME. The responsibilities I am entrusted with include marketing and sales(which make up 80% of my tasks) and IT functions (e.g. website, user support).
            I am willing to travel for work as my current employment involves frequent travelling for the purpose of attending to and providing training as well as attending queries raised by customers, contractors and/or resellers. In other words, I am a generalist that is willing to learn something new to complete any given task.

            While I am grateful my current job vastly improved my soft skills, I would like to return to the IT industry where more of my hard skills can come into play, venturing into roles such Data Science / Data Analyst or any other suitable role.</p>

        <hr>

        <h3>Skills and Expertise</h3>
        <br>
        <ul>
          <li>Strong generalist</li>
          <li>Takes initiative to complete task without supervision</li>
          <li>Attentive to details</li>
          <li>Good analytical skills</li>
          <li>Fluent in English & Mandarin. Working proficiency in Malay</li>
          <li>Programming languages : Python, VB.NET, C++, CSS, HTML</li>
        </ul>

        <hr>

        <h3>Education</h3>
        <br>
        <ol>
          <li>
            <h4>Multimedia University (Cyberjaya, Selangor)</h4>
            <p>Bachelor of Computer Science with Specialization in Information Systems
               (2014 - 2018)</p>

            <h5>Final Year Project</h5>
            <p>Identification of road surface conditions using IOT sensors</p>
            <ul>
                <li>
                  <p>Built and program custom sensors package using Arduino Uno, allowing capture of 3 axis acceleration data.</p>
                </li>
                <li>
                  <p>Created a Windows application using dotnet to capture & chart acceleration data in both live and replay mode.</p>
                </li>
            </ul>
          </li>
          <li>
            <h4>Sunway College (Johor Bahru, Johor)</h4>
            <p>International 'A' Levels (2012 -2014)</p>
          </li>
          <li>
            <h4>Si Ling Secondary School (Singapore)</h4>
            <p>Singapore GCE 'O' Levels (2007 -2011)</p>
          </li>
        </ol>

        <hr>

        <h3>Employment History</h3>
        <br>
        <h5>Baysis Protective Coatings / S3 Technologies Sdn Bhd (Construction Materials Industry)</h5>
        <p>Product Engineer / Marketer | 2018 - Current</p>
        <p>Started as a management trainee with responsibilities in IT, marketing, sales, technical support as well as customer service. Job involves extensive travel to attend to clients in Singapore, Johor, Melaka, Kuala Lumpur, and Penang.</p>

        <h4>Information Technology (IT)</h4>
        <ul>
          <li>
            <p>In charge of development of the company’s website (s3tasia.com) and social media presence. Saved the company almost ~30% in costs and participating in the product development process e.g., debugging to reduce vendor cost.</p>
          </li>
          <li>
            <p>Maintain the website with timely software and content upgrades.</p>
          </li>
          <li>
            <p>Support various IT tasks within the company e.g., user support. </p>
          </li>
        </ul>

        <h4>Management/Sales/Training</h4>
        <ul>
          <li>
            <p>Exposure to various management and business-related meetings.</p>
          </li>
          <li>
            <p>Managing the company’s salespeople, arranging for meetings between clients and salespeople, creating & conducting product presentations to trading houses, contractors, developers, and architects alike to support the sales team.</p>
          </li>
          <li>
            <p>Prepared and conducted training sessions for salespeople working in the trading houses / dealers that sells our products.</p>
          </li>
        </ul>

        <h4>Product Consultant</h4>
        <ul>
          <li>
            <p>Attend site inspections and liaise with customers to solve issues/queries experienced and in charge of producing inspection reports for clients such as UOA Development Berhad.</p>
          </li>
          <li>
            <p>Provide various ISO European Standards lab tests and “Tensile Adhesion Pull Off Tests” at the client’s worksite to support the sales team and demonstrate the capabilities of company’s products on-site.</p>
          </li>
        </ul>

        <h4>Marketing</h4>
        <ul>
          <li>
            <p>Management of marketing materials (Product brochures & etc.) as well as providing ideas and creation of new marketing materials e.g., company folders.</p>
          </li>
          <li>
            <p>Responsible for procuring best vendor option (costs/value wise) for design and printing our marketing materials. </p>
          </li>
          <li>
            <p>Responsible for creating/updating Technical Data Sheets (TDS), Material Safety Data Sheets (MSDS) and Technical drawings.</p>
          </li>
          <li>
            <p>Created 3D models of wall profiles to provide clients with easy understanding of where and what products should be used depending on the situation.</p>
          </li>
        </ul>

        <hr>

        <h3>Innolab Pte Ltd</h3>
        <h5>Internship | 2017 (4 months)</h5>
        <p>Create interactive UI components for projects using Microsoft dotnet</p>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}